.navbar__navbar-wrapper {
  background-color: var(--header-bg);
  display: flex;
  flex-direction: row;
  height: var(--header-height);
  width: 100%;
  gap: var(--standard-gap);
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.navbar__site-header {
  display: flex;
  align-items: center;
  gap: var(--standard-gap);
  color: var(--text-h);
}

.navbar__logo {
  display: block;
  background-size: contain;
  width: var(--header-height);
  height: var(--header-height);
}

.navbar__h1 {
  height: fit-content;
  align-self: center;
}

.navbar__nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
}
